body{
    background-color:#232323;
    margin:0;
    font-family:"Montserrat" ,"Avenir";
}

.square
{
    width: 30%;
    background:purple;
    padding-bottom:30%;
    float:left;
    margin:1.66%;
    border-radius:15%;
    transition: background 0.6s;
    --webkit-transition:background:0.6s;
    --moz-transition:background 0.6s;
}
#colorDisplay
{
    font-size:200%;
}
#container
{
    margin:20px auto;
    max-width: width 600px;
}
#message
{
    display:inline-block;
    width:20%;
}
h1{
    text-align:center;
    line-height:1.1;
    font-weight:normal;
    background:steelblue;
    color:white;
    margin:0;
    text-transform:uppercase;
    padding:20 px 0;
}

button:hover{
    color:white;
    background:steelblue;
}

#stripe
{
    background-color:white;
    height:30px;
    text-align:center;
    color:black;
}

.selected
{
    color:white;
    background:steelblue;
}

button
{
    border:none;
    background:none;
    text-transform:uppercase;
    height:100%;
    font-weight:700;
    color:steelblue;
    letter-spacing:1px;
    font-size:inherit;
    transition: all 0.3s;
    outline:none;
}